html, body{
  height:100%;
  width: 100%;
}

body {
  background-color: #000; /* Fallback color */
  background-image: url('/assets/HDP_896.jpg');
  background-size: auto; /* Default size for tiling */
  background-repeat: repeat; /* This will tile the image */
  background-attachment: fixed; /* Keep the image fixed during scroll */
  background-position: center; /* Centers the image on the page */
}


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px; 
  z-index: 0;
}


.search-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  position: relative; 
  margin-bottom: 45px;
}

.search-container input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #442d6d;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.search-container button {
  position: absolute;
  right: 0;
  padding: 10px 20px;
  background-color: #7e57c2; 
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #442d6d; 
}


mat-grid-list {
  background-color: transparent !important;
  padding: 20px;
  box-sizing: border-box;
}

/* mat-grid-list {
  grid {
    gap: 20px; 
  }
}

mat-grid-tile {
  
  flex: 0 0 calc(33.333% - 20px); 
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  padding: 10px;
} */


.mission-card {
  width: 100%; 
  max-width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: visible; 
}

.mission-card:hover {
  transform: translateY(-10px);
}


.mission-patch {
  width: 100px;
  margin-top: -50px; 
  background-color: #7e57c2; 
  border-radius: 50%;
  padding: 5px; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}


.mission-details {
  padding: 20px;
  text-align: center;
}

.mission-details button{
  padding: 10px;
  text-align: center;
  background-color: #7e57c2;
  color: #ffffff;
  border-radius: 10%;
}

.mission-details button:hover{
  background-color: #442d6d;
  color: white;
}