<div class="search-container">
  <input type="text" [(ngModel)]="searchYear" placeholder="Search by launch year..." class="search-input">
  <button (click)="searchMissions()" class="search-button">Search</button>
</div>


<mat-grid-list cols="5" rowHeight="400px">
  <mat-grid-tile *ngFor="let launch of filteredLaunches" class="mission-tile">
    <mat-card>
      <img mat-card-image *ngIf="launch.links.mission_patch_small" [src]="launch.links.mission_patch_small" [alt]="launch.mission_name" class="mission-patch">
      <mat-card-content class="mission-details">
        <h3>{{ launch.mission_name }}</h3>
        <p><strong>Launch Year:</strong> {{ launch.launch_year }}</p>
        <p>{{ launch.details | slice:0:100 }}...</p>
      </mat-card-content>
      <mat-card-actions class="mission-details">
        <button mat-button (click)="viewMissionDetails(launch.flight_number)">More Details</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
